---
layout: default
anchor:
  disabled: true
---

<main class="posts">
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
    <a class="post-wrap" href="{{ post.url | relative_url }}" title="{{ post.title }}">
        <article class="post">
            <header class="post-header">
                {% if post.eye_catch %}
                <figure class="eye-catch">
                    <img alt="eye catch" src="{{ post.eye_catch | relative_url }}">
                </figure>
                {% endif %}
                <p class="post-meta">{{ post.date | date: "%Y-%m-%d %H:%M:%S %Z" }}</p>
                <h1 class="post-title">{{ post.title }}</h1>
            </header>
            {{ post.excerpt }}
        </article>
    </a>
{% endfor %}
</main>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% endif %}
  <span class="page_number">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>
