nav.pagination {
  margin: 1em;

  span {
    &.first, &.previous, &.next, &.last {
      color: var(--text-sub-color);
    }
  }
}

.post-wrap {
  color: var(--text-color);

  .post {
    .post-header {
      & > .post-title {
        margin-bottom: 0;
        border: none;
      }

      & > .eye-catch {
        float: right;
        width: 32%;
        max-width: 320px;

        & > img {
          object-fit: cover;
          float: right;
          height: 96px;
          max-height: 96px;
        }
      }
    }

    > p {
      margin-bottom: 0
    }
  }
}
