:root {
  --bg-color: #ddd;
  --fg-color: #fff;
  --text-color: #24292e;
  --text-sub-color: #6e7781;
  --heading-color: #24292e;
  --border-color: #eaecef;
  --table-bg-color: transparent;
  --table-bg-accent: #f9f9f9;
  --table-border-color: #dfe2e5;

  @media (prefers-color-scheme: dark) {
    --bg-color: #000;
    --fg-color: #222;
    --text-color: #bebebe;
    --text-sub-color: #484f58;
    --heading-color: #cdcdcd;
    --border-color: #4c4c4c;
    --table-bg-color: #1c1c1c;
    --table-bg-accent: #141414;
    --table-border-color: #343434;
  }
}
