---
---

@import "{{ site.theme }}";

@import "variables";

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.markdown-body {
  @import "heading";
  @import "table";
  @import "description-list";

  @import "table-of-contents";
  @import "highlight";

  .post-header {
    & > .post-meta {
      margin-bottom: 0;
    }

    & > .post-title {
      margin-top: 0;
      font-size: 1.8em;
    }

    & > .eye-catch {
      margin: 0;
      width: 100%;

      & > img {
        object-fit: contain;
        height: auto;
        max-height: 50vh;
      }
    }
  }

  .post-wrap {
    color: var(--text-color);

    .post-header {
      & > .post-title {
        margin-bottom: 0;
        border: none;
      }

      & > .eye-catch {
        float: right;
        width: 32%;
        max-width: 320px;

        & > img {
          object-fit: cover;
          float: right;
          height: 96px;
          max-height: 96px;
        }
      }
    }

    &:not(:last-child) > .post {
      border-bottom: 1px solid var(--border-color);
      margin-bottom: 1em;
    }
  }
}
