:root {
  --bg-color: #f8f8f8;
  --fg-color: #fff;
  --text-color: #24292e;
  --text-sub-color: #6e7781;
  --text-accent-color: #0366d6;
  --heading-color: #24292e;
  --border-color: #eaecef;
  --symbol-color: #e1e4e8;
  --table-bg-color: transparent;
  --table-bg-accent: #f9f9f9;
  --table-border-color: #dfe2e5;

  @media (prefers-color-scheme: dark) {
    --bg-color: #000;
    --fg-color: #171717;
    --text-color: #bebebe;
    --text-sub-color: #888f98;
    --text-accent-color: #76d603;
    --heading-color: #cdcdcd;
    --border-color: #4c4c4c;
    --symbol-color: #484f58;
    --table-bg-accent: #000;
    --table-border-color: #343434;
  }
}

.highlighter-rouge {
  --base1:   #586e75;
  --base03:  #fdf6e3;

  @media (prefers-color-scheme: dark) {
    --base03:  #002b36;
    --base1:   #93a1a1;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.5;
  word-wrap: break-word;

  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1rem;

  .site-title, .page-title, .post-title {
    color: var(--heading-color);
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.25;

    margin-block: 1.5rem 1rem;
    padding-bottom: 0.3em;

    border-color: var(--border-color);
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  .site-title {
    font-size: 2rem;

    > a {
      color: inherit;
    }
  }

  .page-title {
    text-transform: uppercase;
  }

  .post-title, .page-title {
    margin-top: 0;
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
    margin-block: 0 1rem;
  }

  code {
    color: var(--base1);
    background-color: var(--base03);

    font-size: 85%;

    padding: 0.2em 0.4em;
  }

  kbd {
    color: #444d56;
    background-color: #fafbfc;

    font-size: 68%;
    line-height: 1;

    padding: 0.2rem 0.3rem;
    vertical-align: middle;

    border-color: var(--border-color);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
  }

  a:any-link {
    color: var(--text-accent-color);
    text-decoration: none;
  }

  /* MARK: Block */

  img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: var(--fg-color);
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;

    tr {
      background-color: var(--table-bg-color);

      &:nth-of-type(even) {
        background-color: var(--table-bg-accent);
      }
    }

    th, td {
      padding: 0.4rem 0.8rem;

      border-color: var(--table-border-color);
    }
  }

  dl > :is(dt, dd) {
    margin-top: 0;
    margin-bottom: 0;
  }

  pre {
    background-color: var(--base03);
  }

  hr {
    background-color: var(--symbol-color);
  }

  blockquote {
    color: var(--text-sub-color);
    border-color: var(--table-border-color);
  }

  del {
    color: var(--text-sub-color);
  }

  .post, .page {
    background: var(--fg-color);
    padding: 1em;
  }

  .post-header {
    > .post-meta {
      margin-bottom: 0;
      > .post-edit-history > a {
        color: var(--text-color);
        font-weight: 500;
        > svg {
          vertical-align: text-bottom;
          width: 1.1em;
          height: 1.1em;
        }
      }
    }

    > .eye-catch {
      margin: 0;
      width: 100%;

      > img {
        object-fit: contain;
        height: auto;
        max-height: 50vh;
      }
    }
  }

  .anchorjs-link, .reversefootnote {
    color: var(--symbol-color);
  }
}
