#toc {
  padding: 1em;
  border: 1px solid var(--border-color);
  width: fit-content;

  ol > li::marker {
    content: counters(list-item, '.') '. ';
  }

  #markdown-toc {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }
}
