<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>
      {{- page.title -}}
      {% if page.layout != 'home' %} | {{ site.title }}{% endif -%}
    </title>

    {% if page.layout != 'home' and page.layout != 'autopage' and page.anchor.disabled != true -%}
    <script defer crossorigin=anonymous
            src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
            integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg="></script>
    <script>
      window.addEventListener('DOMContentLoaded', () => window.anchors.add());
    </script>
    {% endif -%}

    {%- include meta.html -%}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body class="container-lg px-3 markdown-body">
    <header class=site-header>
      {% if site.title and site.title != page.title %}
      <h1 class="site-title"><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
      {% else %}
      <h1 class="site-title">{{ site.title }}</h1>
      {% endif %}
    </header>

    {{ content }}

    {%- include footer.html -%}
  </body>
</html>