---
layout: default
isPagenate: true
---

<main class="posts">
  <header>
    {{ content }}

    {% if paginator.total_pages > 1 -%}
    <section class="position">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </section>

    {% include pagination.html %}
    {%- endif %}
  </header>

  <ul class="posts">
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    <li><a href="{{ post.url | relative_url }}" title="{{ post.title }}">
      <article class="post">
        <header>
          {%- if post.eye_catch %}
          <figure class="eye-catch">
            <img alt="eye catch" src="{{ post.eye_catch | relative_url }}">
          </figure>
          {%- endif %}
          <div class="metadata">
            <p class="publish"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d %H:%M:%S %Z" }}</time></p>
            <ul class="tags">
              {%- for cat in post.categories %}
              <li class="category">{% octicon file-directory-fill height:24 fill:currentColor %} {{ cat }}</li>
              {%- endfor %}
              {%- for tag in post.tags %}
              <li class="tag">{% octicon tag height:24 fill:currentColor %} {{ tag }}</li>
              {%- endfor %}
            </ul>
          </div>
          <h1>{{ post.title }}</h1>
        </header>
        {{ post.excerpt }}
      </article>
    </a></li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 -%}
  {% include pagination.html %}
  {%- endif %}
</main>
