---
layout: default
isPagenate: true
---

<main class="posts">
  <header>
    {{ content }}

    {% if paginator.total_pages > 1 %}
    <section class="position">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </section>

    {% include pagination.html %}
    {% endif %}
  </header>

  <ul class="posts">
    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    <li><a href="{{ post.url | relative_url }}" title="{{ post.title }}">
      <article class="post">
        <header class="post-header">
          {% if post.eye_catch %}
          <figure class="eye-catch">
            <img alt="eye catch" src="{{ post.eye_catch | relative_url }}">
          </figure>
          {% endif %}
          <p class="post-meta">{{ post.date | date: "%Y-%m-%d %H:%M:%S %Z" }}</p>
          <h1 class="post-title">{{ post.title }}</h1>
        </header>
        {{ post.excerpt }}
      </article>
    </a></li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 -%}
  {% include pagination.html %}
  {%- endif %}
</main>
