---
layout: default
---

<main class="post">
  <header>
    <div class="metadata">
      <p class="publish"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d %H:%M:%S %Z" }}</time></p>
      <p class="edit-history"><a href="{{ page.path | prepend: '/commits/master/' | prepend: site.github.repository_url }}" target="_blank" rel="noopener noreferrer">
        {% octicon history height:24 fill:currentColor %} History
      </a></p>
    </div>
    <h1>{{ page.title }}</h1>
    {%- if page.eye_catch %}
    <figure class="eye-catch">
      <img alt="eye catch" src="{{ page.eye_catch }}">
    </figure>
    {%- endif %}
  </header>

  {{ content }}
</main>
